<link rel="stylesheet" href="/stylesheet/footer-style.css">

</body>
<footer>
    <div class="instagram-container">
        <label for="intagram-tag" class="instagram-label">Instagram:</label>
        <a href="https://www.instagram.com/simple_tokens/?hl=en" class="instagram-link-tag" target="_blank">@SimpleTokens</a>
    </div>
    <p class="copyright-tag">&copy 2022 SimpleTokens</p>
</footer>
</html>