<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleTokens</title>
</head>
<body>
    <nav class="main-nav-bar">
        <a href="/">SimpleTokens</a>
        <!-- TODO: Add conditional to check if user is logged in -->
        <a href="/users/log-in">Log In</a>
        <a href="/users/sign-up">Sign Up</a>
    </nav>
