#back-arrow {
    margin: 10px auto;
}

.back-to-browsing-link {
    font-family: 'Poiret One', cursive;
    font-size: 23px;
    color:  #d28c4c;
    line-height: 50px;
}

.back-to-browse-container {
    display: flex;
    align-items: center;
}

#page-title {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.cart-item-details {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    text-align: center;
}

.cart-table {
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #d28c4c;
}

.shopping-cart-titles {
    text-align: center;
    background-color: #d28c4c;
    padding: 10px 10px;
}

.cart-item {
    padding: 10px 10px;
}

.item-subtotal {
    color: #c99360;
    padding: 18px 15px;
}

.subtotal-amount {
    color: #c99360;
}

#delete-item {
    font-family: 'Poiret One', cursive;
    font-size: 17px;
    font-weight: 900;
    background-color: #d28c4c;
    margin: auto 20px;
}
